<!DOCTYPE html>
<html>
  <body>
    <p>Hi {{ contact.first_name }},</p>

    <p>Hope all is well. I wanted to follow up and see how things were going on your end. We had discussed how automation could help streamline tasks like generating reports, syncing tools, and cutting out manual data entry.</p>

    <p>
      I’d love to reconnect and share a few ideas on how we can make your processes smoother and save you time. Let me know if you have a few minutes this week — I can adjust to whatever works best for you.
    </p>

    <p>Looking forward to catching up.</p>

    <p>
      Best,<br>
      Kareem Adebisi<br>
      Founder, Forward Velocity<br>
    </p>
  </body>
</html>
