<!DOCTYPE html>
<html>
  <body>
    <p>Hi {{ contact.first_name }},</p>

    <p>This will be my last message for now — the free consult + discount offer for new clients ends soon.</p>

    <p>
      If you’ve been meaning to fix slow or manual parts of your workflow, now’s a great time to get quick, expert advice at no cost.
    </p>

    <p>
      👉 <a href="https://calendly.com/kareem-s-adebisi/15min">Here’s the link if you’re interested</a><br>

    </p>

    <p>Thanks for reading — happy to connect anytime in the future.</p>

    <p>
      Best,<br>
      Kareem<br>
      Forward Velocity
    </p>
  </body>
</html>
