<!DOCTYPE html>
<html>
  <body>
    <p>Hi {{ contact.first_name }},</p>

    <p>Just wanted to follow up in case you missed my last message.</p>

    <p>
      We've helped other small teams save hours each week by automating things like reports, data entry, and tool connections.
      Most say they wish they had done it sooner.
    </p>

    <p>
      If you're still curious, I’m offering a <strong>free consultation</strong> and a <strong>discount</strong> for new clients this month.
    </p>

    <p>
      👉 <a href="https://calendly.com/kareem-s-adebisi/15min">You can grab a time here</a><br>
    </p>

    <p>Hope to hear from you!</p>

    <p>
      Best,<br>
      Kareem<br>
      Forward Velocity
    </p>
  </body>
</html>
